<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Sign in with Github</h4>
</div>

<div class="modal-body">
  <div class="col-md-8 col-md-offset-2">
    <a class="btn btn-lg btn-block btn-social btn-github" ng-click="signIn()">
      <i class="fa fa-github"></i> Sign in with Github
    </a>

    <small>
      <em>
        NOTE: Another window will open.
      </em>
    </small>
  </div>
</div>

<div class="modal-footer sign-in-modal">
  <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
