<div loading-spinner="viewLoading">
  <form name="form" role="form" ng-submit="submitIssue()" novalidate>
    <div id="panel">
      <div class="row" style="height: 100%;">
        <div class="row">
          <div class="col-md-12 title">
            <h1 class="name">Gitorade</h1>
          </div>

          <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger alert-repository" style="display: none;">
              You forgot to select a repository!
            </div>

            <div>
              <select id="issue-repository" class="form-control" required>
                <option selected="selected" disabled="disabled">Select Repository</option>
                <option ng-repeat="repository in repositories" ng-bind="repository.full_name"></option>
              </select>
            </div>
            <div>

            </div>
          </div>
        </div>

        <div class="row issue-inputs">
          <div class="col-md-10 col-md-offset-1">
            <div class="form-group" ng-class="{'has-error': form.submitter.$dirty && form.submitter.$invalid}">
              <label for="issue-submitter">Submitter</label>
              <input type="text" class="form-control" id="issue-submitter" ng-model="submitter" name="submitter" placeholder="What is your name?" ng-minlength=1 required />
            </div>

            <div class="form-group" ng-class="{'has-error': form.description.$dirty && form.description.$invalid}">
              <label for="issue-description">Description</label>
              <input type="text" class="form-control" id="issue-description" ng-model="description" name="description" placeholder="Short description of the problem" ng-minlength=1 required />
            </div>

            <div class="form-group" ng-class="{'has-error': form.content.$dirty && form.content.$invalid}">
              <label for="issue-content">Issue</label>
              <textarea class="form-control" id="issue-content" ng-model="content" name="content" placeholder="Provide as much detail as possible here." ng-minlength=1 required></textarea>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-default btn-lg" ng-disabled="form.$invalid">Create Issue</button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>