<form role="form">
  <div id="panel">
    <div class="row" style="height: 100%;">
      <div class="col-lg-2 title">
        <h1 class="name">Gitorade</h1>

        <div>
          <a href="#" id="clean-screenshot" class="btn btn-xs btn-default">Clean Screenshot</a>
          <a href="#" id="set-token" class="btn btn-xs btn-default" data-toggle="modal" data-target="#setTokenModal">Set Token</a>
        </div>

        <div style="margin-top: 15px;">
          <select id="github_issue_repo" class="form-control">
            <option selected disabled>Select Repository</option>
            <option ng-repeat="repo in repos" ng-bind="repo.full_name"></option>
          </select>
        </div>
      </div>

      <div class="col-lg-8 detail">
        <p class="lead">
        Hi, I'm <input id="github_issue_submitter" type="text" placeholder="James" required>.
        </p>

        <p class="lead">
        When I use your site, what I expect to happen is
        <input id="github_issue_expected" type="text" placeholder="I see a bunch of kittens" required>,
        but what actually happens is that
        <input id="github_issue_actual" type="text" placeholder="I don't see any kittens" required>.
        </p>

        <p class="lead">
        Notes:
        <input id="github_issue_extra" type="text" placeholder="I like kittens" required>
        </p>
      </div>

      <div class="col-lg-2 create">
        <button id="github_issue_create" type="submit" class="btn btn-lg btn-default">Create Issue</button>
      </div>
    </div>
  </div>
</form>

