<div class="modal fade" id="submitIssueSuccessModal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Success!</h4>
      </div>

      <div class="modal-body">
        <p class="lead">
        Your issue has been created and will be responded to soon. You can check <a ng-href="{{ issueURL }}">here</a> for updates.
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

